<div class="text-justify">
    <h3 class="font-semibold">🎉 Willkommen bei KitSquid! 🐙</h3><br>
    <p>
        Was ihr hier seht ist ein unabhängiges Hobbyprojekt und soll den Studierenden des <a href="https://kit.edu"
                                                                                             class="text-kit">Karlsruher
            Instituts für Technologie</a> eine Art alternatives <b>Vorlesungsverzeichnis</b> und eine <b>Community
            Plattform</b> bereitstellen.
        Über die Funktionalitäten des offiziellen Vorlesungsverzeichnisses hinaus könnt ihr hier unter anderem
        Vorlesungen und andere Veranstaltungen bewerten und kommentieren und euren Kommilitoninnen und Kommilitonen so
        wertvolle <b>Tipps zur Planung des Studiums</b> geben.
        Außerdem könnt ihr euch natürlich über Inhalte austauschen.<br><br>
        Um Bewertungen und Kommentare zu sehen und mitdiskutieren zu können, benötigt ihr einen <b>Account</b>. Ihr
        könnt euch ganz einfach mit eurer <span class="font-mono">@student.kit.edu</span> Adresse anmeleden. <b>Je mehr
            Studierende mitmachen</b> und je aktiver ihr seid, <b>desto besser</b> wird das Ganze und desto coolere
        Features werden letztendlich möglich. Idealerweise haben wir irgendwann genug Informationen, um ein <a
                href="https://de.wikipedia.org/wiki/Empfehlungsdienst" target="_blank" class="text-kit">Empfehlungssystem</a>
        zu starten – sozusagen <i>"Studenten, die diese Vorlesung besuchten, besuchten auch ..."</i>.<br><br>
        Für die Zukunft <b>geplante Features</b> sind:<br>
    <ul class="list-inside list-disc">
        <li class="ml-2">💡 Recommendations</li>
        <li class="ml-2">🗓 Digitaler Stundenplan</li>
        <li class="ml-2">📚 Verwaltung von Vorlesungsmaterialien</li>
        <li class="ml-2">💬 Chatfunktion</li>
    </ul>
    <br>
    Wenn ihr das Projekt cool findet und unterstützen wollt, dann erzählt euren Buddies davon 📣, <a
            href="https://github.com/n1try/kitsquid/issues" target="_blank" class="text-kit">meldet uns</a> inhaltliche
    und technische Fehler 🐞, wirkt bei der <a href="https://github.com/n1try/kitsquid/issues" target="_blank"
                                               class="text-kit">Entwicklung</a> mit 👩‍💻 oder beteiligt euch einfach
    nur 🤙.
    Bitte behaltet im Hinterkopf, dass alle Angaben ohne Gewähr 🔫 sind und wir keine Garantie für Richtigkeit geben. Im
    Zweifelsfall befragt ihr lieber das <a href="https://campus.studium.kit.edu" target="_blank" class="text-kit">Campussystem</a>,
    um um Nummer sicher zu gehen.<br><br>
    Ansonsten bleibt uns nur, euch <b>viel Spaß</b> zu wünschen und seid nett zueinander 😊!<br><br>
    <b>P.S.:</b> Möglicherweise verwenden wir 🍪. Wenn ihr keine mögt, dann geht lieber wieder, denn mit der weiteren
    Nutzung der Seite gebt ihr euch also damit einverstanden.
    </p>
</div>