{{ define "content" }}
    {{ if not .tplCtx.Errors }}
        <div class="mb-4 text-xs text-gray-600">
            <span>&nbsp;ᐅ&nbsp;</span>
            <a href="/" class="underline">Vorlesungen</a>
            <span>&nbsp;ᐅ&nbsp;</span>
            <a href="#" class="underline">{{ .event.Name }}</a>
        </div>
        <div class="flex flex-wrap items-start md:flex-no-wrap">
            <div class="w-full md:w-2/3 lg:w-3/4 mb-8 mr-0 md:mr-2 flex flex-col">
                <div class="w-full rounded relative shadow-md bg-white mb-2">
                    <div class="px-4 py-2 md:px-6 md:py-4 lg:px-10 lg:py-8">
                        {{ if .tplCtx.User }}
                            <div class="absolute top-0 text-2xl text-yellow-500 cursor-pointer"
                                 style="margin-top: -4px; margin-left: -5px"
                                 onclick="toggleBookmarkEvent({{ .event.Id }})">
                                <i class="{{ if .bookmarked }}hidden{{ end }} icon-bookmark-empty"
                                   id="indicator-bookmark-{{ .event.Id }}-empty"></i>
                                <i class="{{ if not .bookmarked }}hidden{{ end }} icon-bookmark"
                                   id="indicator-bookmark-{{ .event.Id }}"></i>
                            </div>
                        {{ end }}
                        <div class="flex items-center sm:items-start mb-4">
                            <h1 class="text-xl md:text-2xl inline-block border-b-4 border-kit">{{ .event.Name }}</h1>
                            <div class="relative inline-block m-2 ml-4 flex">
                                <div class="py-1 px-2 bg-gray-400 rounded text-xs md:text-base text-gray-700 font-semibold flex-grow-0"
                                     title="{{ .event.Type }}">
                                    <span class="cursor-default">{{ strIndex 0 .event.Type }}</span>
                                </div>
                                {{ if .event.InWinter }}
                                    <div class="ml-1 px-2 bg-blue-200 rounded text-xs md:text-base text-blue-800 font-semibold flex items-center flex-grow-0"
                                         title="Wintersemester">
                                        <span class="cursor-default"><i class="icon-snowflake-o"></i></span>
                                    </div>
                                {{ end }}
                                {{ if .event.InSummer }}
                                    <div class="ml-1 px-2 bg-orange-200 rounded text-xs md:text-base text-orange-600 font-semibold flex items-center flex-grow-0"
                                         title="Sommersemester">
                                        <span class="cursor-default"><i class="icon-sun"></i></span>
                                    </div>
                                {{ end }}
                                {{ if .tplCtx.User }}
                                    <div class="ml-1 px-2 bg-yellow-300 rounded text-xs md:text-base text-yellow-700 font-semibold flex items-center flex-grow-0"
                                         title="Gesamtbewertung">
                                        <span class="cursor-default"><i class="icon-star"></i> 4.7</span>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                        {{ if not (eq .semesterQuery (index .tplCtx.SemesterKeys (add (len .tplCtx.SemesterKeys) -1))) }}
                            <div class="my-8" id="alert-different-semester">
                                <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-2 py-1 rounded relative"
                                     role="alert">
                                    <span class="block sm:inline text-sm">⚠️ Die dargestellten Angaben beziehen sich auf <strong>{{ index .event.Semesters (add (len .event.Semesters) -1) }}</strong> und können damit vom angefragten Semester abweichen.</span>
                                    <span class="absolute top-0 bottom-0 right-0 px-2 py-1">
                                <svg class="fill-current h-6 w-6 text-yellow-500"
                                     onclick="closeAlert('alert', 'different-semester')" role="button"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20"><title>Close</title><path
                                            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                            </span>
                                </div>
                            </div>
                        {{ end }}
                        <div class="flex flex-wrap mb-3">
                            {{ range slice .event.Categories 1 }}
                                <div class="rounded bg-gray-400 py-1 px-2 mr-2 mb-1 truncate text-xs md:text-sm"
                                     title="{{ . }}">{{ . }}</div>
                            {{ end }}
                        </div>
                        <div class="my-1">
                            <div class="text-sm md:text-base flex items-center">
                                <i class="icon-person mr-1"></i>
                                {{ range $i, $e := .event.Lecturers }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
                            </div>
                        </div>
                        <div class="my-1">
                            <div class="text-sm md:text-base flex items-center">
                                <i class="icon-building mr-1"></i>
                                <span class="border-b-2"
                                      style="border-color: {{ randomColor (index .event.Categories $.tplCtx.Constants.FacultyIndex) }}">{{ index .event.Categories .tplCtx.Constants.FacultyIndex }}</span>
                            </div>
                        </div>
                        <div class="my-2">
                            <div class="text-sm md:text-base flex items-center">
                                <i class="icon-calendar-check-o mr-1"></i>
                                {{ range .event.Semesters }}
                                    <div class="rounded border-gray-500 border-2 mr-2 px-1 truncate text-xs inline-block"
                                         title="{{ . }}">{{ . }}</div>
                                {{ end }}
                            </div>
                        </div>
                        {{ if .event.Links }}
                            <div class="my-1">
                                <div class="text-sm md:text-base flex items-center">
                                    <i class="icon-link-ext mr-1"></i>
                                    {{ range $i, $l := .event.Links }}{{ if $i }}, {{ end }}<a href="{{ $l.Url }}"
                                                                                               target="_blank"
                                                                                               class="text-kit">{{ $l.Name }}</a>{{ end }}
                                </div>
                            </div>
                        {{ end }}
                        {{ if .event.Description }}
                            <div class="my-1 mt-8">
                                <div class="show-li text-sm">
                                    {{ htmlSafe .event.Description }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <div class="w-full rounded relative shadow-md bg-white mt-2">
                    <div class="px-4 py-2 md:px-6 md:py-4 lg:px-10 lg:py-6 mb-4">
                        <h2 class="text-lg inline-block border-b-2 border-kit mb-4">Kommentare</h2>

                        {{ if .tplCtx.User }}
                            <form action="/comments" method="post" id="form-comments">
                                <textarea id="input-comment-text" name="text"
                                          class="w-full focus:shadow-md rounded border p-4"
                                          placeholder="Schreibe einen Kommentar zu dieser Veranstaltung. Was hat dir (nicht) gefallen? Welche Tipps kannst du deinen Kommilitonen geben?" required></textarea>
                                <input type="hidden" name="event_id" value="{{ .event.Id }}">
                                <button id="btn-comments-submit"
                                        class="bg-kit hover:bg-kit-dark text-white text-sm font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline mt-2 float-right"
                                        type="submit">Posten
                                </button>
                            </form>
                        {{ end }}

                        {{ if and .tplCtx.User .comments }}
                            <div class="mt-16 flex flex-col">
                                {{ range .comments }}
                                    <div class="w-full relative rounded-lg p-4 bg-gray-200 text-sm my-2">
                                        <div class="w-full flex items-center mb-1">
                                            <p class="text-kit font-semibold mr-1">{{ index (strSplit .UserId "@") 0 }}</p>
                                            <p class="text-2xs ml-1 flex-grow">{{ .CreatedAt | date }}</p>
                                            {{ if eq .UserId $.tplCtx.User.Id }}
                                                <form action="/comments/delete" method="post" class="m-0">
                                                    <input type="hidden" name="id" value="{{ .Id }}">
                                                    <p>
                                                        <button type="submit"><i class="icon-trash-empty mr-1"></i>
                                                        </button>
                                                    </p>
                                                </form>
                                            {{ end }}
                                            <p class="text-kit font-semibold">#{{ .Index }}</p>
                                        </div>
                                        <p>{{ .Text | noescape }}</p>
                                    </div>
                                {{ end }}
                            </div>
                        {{ else if and .tplCtx.User (not .comments) }}
                            <p>Keine Kommentare</p>
                        {{ else }}
                            <p><i class="icon-info-circled"></i> Bitte logge dich ein, um Kommentare lesen zu können.</p>
                        {{ end }}
                    </div>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/3 lg:w-1/4 flex-shrink-0 mb-8 ml-0 md:ml-2">
                    {{ if .event.Dates }}
                        <div class="rounded relative overflow-hidden shadow-md bg-white mb-4">
                            <div class="px-4 py-2 md:px-6 md:py-4">
                                <h2 class="text-lg inline-block border-b-2 border-kit mb-4">Termine</h2>
                                <div class="text-sm">
                                    <ul class="">
                                        {{ range .event.Dates }}
                                            <li class="mb-2">
                                                <span><i class="icon-calendar mr-2"></i>{{ .Date }}</span>
                                                <br>
                                                <span><i class="icon-location mr-2"></i>{{ .Room }}</span>
                                            </li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{ end }}

                    <div class="rounded relative overflow-hidden shadow-md bg-white">
                            <div class="px-4 py-2 md:px-6 md:py-4">
                                <div>
                                    <h2 class="text-lg inline-block border-b-2 border-kit mb-4">Bewertungen</h2>
                                </div>
                                {{ if .tplCtx.User }}
                                    <div class="mb-6">
                                        <div class="label text-sm mb-1">
                                            <span class="font-semibold">Gesamtbewertung</span>
                                            <span class="whitespace-no-wrap">(&Oslash; 4.7)</span>
                                            <i class="icon-info-circled cursor-pointer" title="Wie bewertest du diese Veranstaltung insgesamt?"></i>
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <span class="text-2xs w-full text-left">schlecht</span>
                                            <div class="rating float-left whitespace-no-wrap" id="star-rating-overall">
                                                <span class="icon-star star cursor-pointer" data-value="5"></span>
                                                <span class="icon-star star cursor-pointer" data-value="4"></span>
                                                <span class="icon-star star cursor-pointer" data-value="3"></span>
                                                <span class="icon-star star cursor-pointer" data-value="2"></span>
                                                <span class="icon-star star cursor-pointer" data-value="1"></span>
                                            </div>
                                            <span class="text-2xs w-full text-right">sehr gut</span>
                                        </div>
                                    </div>
                                    <div class="mb-6">
                                        <div class="label text-sm mb-1">
                                            <span class="font-semibold">Anspruch</span>
                                            <span class="whitespace-no-wrap">(&Oslash; 3.2)</span>
                                            <i class="icon-info-circled cursor-pointer" title="Wie bewertest du den inhaltlichen Anspruch dieser Veranstaltung?"></i>
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <span class="text-2xs w-full text-left">unange-messen</span>
                                            <div class="rating float-left whitespace-no-wrap" id="star-rating-demand">
                                                <span class="icon-star star cursor-pointer" data-value="5"></span>
                                                <span class="icon-star star cursor-pointer" data-value="4"></span>
                                                <span class="icon-star star cursor-pointer" data-value="3"></span>
                                                <span class="icon-star star cursor-pointer" data-value="2"></span>
                                                <span class="icon-star star cursor-pointer" data-value="1"></span>
                                            </div>
                                            <span class="text-2xs w-full text-right">genau richtig</span>
                                        </div>
                                    </div>
                                    <div class="mb-6">
                                        <div class="label text-sm mb-1">
                                            <span class="font-semibold">Zeitaufwand</span>
                                            <span class="whitespace-no-wrap">(&Oslash; 4.4)</span>
                                            <i class="icon-info-circled cursor-pointer" title="Wie bewertest du den zeitlichen Aufwand, der für diese Veranstaltung notwendig ist?"></i>
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <span class="text-2xs w-full text-left">unange-messen</span>
                                            <div class="rating float-left whitespace-no-wrap" id="star-rating-effort">
                                                <span class="icon-star star cursor-pointer" data-value="5"></span>
                                                <span class="icon-star star cursor-pointer" data-value="4"></span>
                                                <span class="icon-star star cursor-pointer" data-value="3"></span>
                                                <span class="icon-star star cursor-pointer" data-value="2"></span>
                                                <span class="icon-star star cursor-pointer" data-value="1"></span>
                                            </div>
                                            <span class="text-2xs w-full text-right">genau richtig</span>
                                        </div>
                                    </div>
                                    <div class="mb-6">
                                        <div class="label text-sm mb-1">
                                            <span class="font-semibold">Praxisrelevanz</span>
                                            <span class="whitespace-no-wrap">(&Oslash; 4.4)</span>
                                            <i class="icon-info-circled cursor-pointer" title="Für wie praxisrelevant und sinnvoll für dein weiteres Studium und deine Karriere hälst du diese Veranstaltung inhaltlich?"></i>
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <span class="text-2xs w-full text-left">unnötig</span>
                                            <div class="rating float-left whitespace-no-wrap" id="star-rating-relevance">
                                                <span class="icon-star star cursor-pointer" data-value="5"></span>
                                                <span class="icon-star star cursor-pointer" data-value="4"></span>
                                                <span class="icon-star star cursor-pointer" data-value="3"></span>
                                                <span class="icon-star star cursor-pointer" data-value="2"></span>
                                                <span class="icon-star star cursor-pointer" data-value="1"></span>
                                            </div>
                                            <span class="text-2xs w-full text-right">essentiell</span>
                                        </div>
                                    </div>
                                    <div class="mb-6">
                                        <div class="label text-sm mb-1">
                                            <span class="font-semibold">Dozent</span>
                                            <span class="whitespace-no-wrap">(&Oslash; 5.0)</span>
                                            <i class="icon-info-circled cursor-pointer" title="Wie sympathisch und kompetent schätzt du den Dozent (Prof., Übungsleiter, Tutor, ...) dieser Veranstaltung ein?"></i>
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <span class="text-2xs w-full text-left">doof</span>
                                            <div class="rating float-left whitespace-no-wrap" id="star-rating-lecturer">
                                                <span class="icon-star star cursor-pointer" data-value="5"></span>
                                                <span class="icon-star star cursor-pointer" data-value="4"></span>
                                                <span class="icon-star star cursor-pointer" data-value="3"></span>
                                                <span class="icon-star star cursor-pointer" data-value="2"></span>
                                                <span class="icon-star star cursor-pointer" data-value="1"></span>
                                            </div>
                                            <span class="text-2xs w-full text-right">super</span>
                                        </div>
                                    </div>
                                {{ else }}
                                    <p class="text-sm"><i class="icon-info-circled"></i> Bitte logge dich ein, um Bewertungen sehen zu können.</p>
                                {{ end }}
                            </div>
                        </div>
                </div>
        </div>
    {{ end }}
{{ end }}