{{ define "content" }}
    <div class="rounded relative overflow-hidden shadow-md bg-white mb-8" id="alert-main">
        <div class="px-6 py-4 text-gray-700 text-sm">
            <h3 class="font-semibold">🎉 Willkommen bei KitHub v2!</h3>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <i class="icon-cancel-circled2 absolute top-0 right-0 pr-3 pt-2 cursor-pointer" onclick="closeMainAlert()"></i>
    </div>

    {{ if .events }}
    <h1 class="text-2xl inline-block border-b-4 border-kit mb-4">Vorlesungen</h1>
    <span class="ml-1">({{ len .events }})</span>
    <div class="mt-4 mb-6">
        <form id="form-event-filter" method="GET" action="/" class="flex items-center justify-start">
            <div class="flex items-center w-1/3 pr-4">
                <label for="select-event-type" class="text-sm mr-2">Art: </label>
                <div class="relative w-full">
                    <select id="select-event-type" name="type" class="block w-full bg-white cursor-pointer appearance-none border border-gray-400 placeholder-gray-700 rounded py-2 px-2 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline" onchange="submit()">
                        <option value="">Beliebig</option>
                        {{ range .types }}
                            <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
            </div>
            <div class="flex items-center w-1/3 pr-2">
                <label for="select-event-category" class="text-sm mr-2">Kategorie: </label>
                <div class="relative w-full">
                    <select id="select-event-category" name="category" class="block w-full bg-white cursor-pointer appearance-none border border-gray-400 placeholder-gray-700 rounded py-2 px-2 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline" onchange="submit()">
                        <option value="">Beliebig</option>
                        {{ range .categories }}
                            <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
            </div>
            <div class="flex items-center w-1/3 pl-2">
                <label for="select-event-lecturer_id" class="text-sm mr-2">Dozent: </label>
                <div class="relative w-full">
                    <select id="select-event-lecturer_id" name="lecturer_id" class="block w-full bg-white cursor-pointer appearance-none border border-gray-400 placeholder-gray-700 rounded py-2 px-2 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline" onchange="submit()">
                        <option value="">Beliebig</option>
                        {{ range .lecturers }}
                            <option value="{{ .Gguid }}">{{ .Name }}</option>
                        {{ end }}
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="flex flex-wrap">
        {{ range .events }}
            <div class="w-full sm:w-1/2 xl:w-1/3 p-1">
                <a href="event/{{ .Id }}">
                <div class="h-full rounded relative overflow-hidden shadow-md hover:shadow-lg bg-white event-card" style="min-height: 90px;">
                    <div class="h-full rounded-bl rounded-tl w-05 absolute faculty-indicator" style="background-color: {{ randomColor (index .Categories $.tplCtx.Constants.FacultyIndex) }}" title="{{ index .Categories 0 }}"></div>
                    <div class="pl-4 pr-10 py-2 text-gray-700 text-sm">
                        <div>
                            <span class="font-semibold">{{ .Name }}</span>
                        </div>
                        <div>
                            <span class="text-xs">
                                <i class="icon-person"></i>
                                {{ range $i, $e := .Lecturers }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
                            </span>
                        </div>
                        <div class="flex flex-wrap mt-2">
                            {{ range slice .Categories 1 }}
                                <div class="rounded bg-gray-400 p-1 m-px truncate max-w-4xs text-2xs" title="{{ . }}">{{ . }}</div>
                            {{ end }}
                        </div>
                    </div>
                    <div class="absolute top-0 right-0 flex flex-col m-2">
                        <div class="p-1 bg-gray-400 rounded text-2xs text-gray-700 font-semibold text-center" title="{{ .Type }}">
                            <span class="cursor-default">{{ strIndex 0 .Type }}</span>
                        </div>
                        {{ if .InWinter }}
                        <div class="mt-1 p-1 bg-blue-200 rounded text-xs text-blue-800 font-semibold flex items-center" title="Wintersemester">
                            <span class="cursor-default"><i class="icon-snowflake-o"></i></span>
                        </div>
                        {{ end }}
                        {{ if .InSummer }}
                            <div class="mt-1 p-1 bg-orange-200 rounded text-xs text-orange-600 font-semibold flex items-center" title="Sommersemester">
                                <span class="cursor-default"><i class="icon-sun"></i></span>
                            </div>
                        {{ end }}
                        <div class="mt-1 p-1 bg-yellow-300 rounded text-2xs text-yellow-700 font-semibold flex items-center" title="Gesamtbewertung">
                            <span class="cursor-default text-center w-full">{{ index $.eventRatings .Id }}</span>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        {{ end }}
    </div>
    {{ end }}
    {{ if or .offset .limit }}
    <div class="flex justify-center mt-12">
        <a class="button bg-gray-400 hover:bg-gray-500 text-gray-700 text-sm py-1 px-4 rounded-l-full {{ if le .offset 0 }}cursor-not-allowed{{ end }}" href="{{ if gt .offset 0 }}{{ paginate .tplCtx.Url -1 }}{{ else }}javascript:void(0){{ end }}">
            Zurück
        </a>
        <a class="button bg-gray-400 hover:bg-gray-500 text-gray-700 text-sm py-1 px-4 rounded-r-full {{ if lt (len .events) .limit }}cursor-not-allowed{{ end }}" href="{{ if ge (len .events) .limit }}{{ paginate .tplCtx.Url 1 }}{{ else }}javascript:void(0){{ end }}">
            Weiter
        </a>
    </div>
    {{ end }}
{{ end }}