{{ define "content" }}
    <div class="container mx-auto w-full max-w-2xl mt-8">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="/login" id="form-signup">
            <h1 class="text-2xl inline-block border-b-4 border-kit mb-8">Einloggen</h1>
            <div class="mb-8">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="input-signup-prefix">Deine KIT E-Mail
                    Adresse</label>
                <div class="flex items-center">
                    <div class="flex-1">
                        <input class="bg-white shadow-md appearance-none border border-gray-400 placeholder-gray-700 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="input-signup-prefix" type="text"
                               placeholder="{{ (index .whitelist 0).MailPrefixDisplay }}"
                               pattern="{{ (index .whitelist 0).MailPrefixPattern }}" required>
                    </div>
                    <div class="mx-4 flex-shrink">
                        <span><strong>@</strong></span>
                    </div>
                    <div class="relative flex-1">
                        <select class="bg-white cursor-pointer shadow-md appearance-none border border-gray-400 placeholder-gray-700 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="input-signup-suffix">
                            {{ range .whitelist }}
                                <option>{{ .MailSuffixDisplay }}</option>
                            {{ end }}
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-8">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="input-signup-password">Dein
                    Passwort</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       id="input-signup-password" type="password" placeholder="******************"
                       pattern="{{ (index .whitelist 0).PasswordPattern }}" name="password" required>
            </div>
            <div class="flex items-center justify-center mt-6">
                <button class="bg-kit hover:bg-kit-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4"
                        type="submit">
                    Einloggen
                </button>
            </div>
            <input type="hidden" value="" id="input-signup-user" name="user">
        </form>

        <div class="mt-12 text-center">
            <span class="text-gray-500">Du bist noch nicht registriert?</span><br>
            <a class="text-kit" href="/signup">Melde dich hier an!</a>
        </div>
    </div>

    <script>
        window.signupConfig = {}
        {{ range .whitelist }}
        window.signupConfig['{{ .MailSuffixDisplay }}'] = ['{{ .MailPrefixDisplay }}', '{{ .MailPrefixPattern }}', '{{ .PasswordPattern }}']
        {{- end }}
    </script>
{{ end }}