<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta property="og:type" content="website">
<meta property="og:title" content="KITSquid{{ if .event }} – {{ .event.Name }}{{- end }}">
<meta property="og:url" content="https://kitsquid.de">
<meta property="og:image" content="https://kitsquid.de/assets/images/squid_green.png">
<meta property="og:description" content="KITSquid is an independent, private hobby project aiming to provide an alternative course catalog to students of Karlsruhe Institute Of Technology. Students are given the ability to rate and comment lectures and provide valuable tips and advice to their fellow students.">
<title>KITSquid{{ if .event }} – {{ .event.Name }}{{- end }}</title>
<link rel="stylesheet" href="/assets/css/app.css">
<link href="/assets/css/fonts.css" rel="stylesheet">
<link href="/assets/css/kitsquid.css" rel="stylesheet">
<link rel="icon" type="image/svg+xml" href="/assets/images/squid_green.svg" sizes="any">