<div id="header">
    <div class="flex absolute top-0 inset-x-0 h-16 z-100 pt-8 items-center">
        <div class="w-full xl:w-3/4 relative mx-auto px-6">
            <div class="flex items-center -mx-6 justify-between">
                <div class="hidden md:block w-1/4 lg:w-1/6 pl-0 md:pl-4 xl:pl-0 md:pr-4 lg:pr-8">
                    <a href="/">
                        <div class="text-2xl font-semibold flex items-center">
                            <img src="/assets/images/squid_green.svg" style="height: 45px;" class="mr-2">
                            <span class="text-kit">KIT</span>
                            <span>Squid</span>
                        </div>
                    </a>
                </div>
                <div class="md:hidden px-6">
                    <button class="border rounded text-xl p-1 bg-gray-900 hover:bg-gray-700" id="btn-toggle-sidebar" onclick="toggleSidebar()">
                        <i class="icon-menu"></i>
                    </button>
                </div>
                <div class="flex flex-grow w-1/2">
                    <div class="w-full relative">
                        <div class="relative">
                            <input id="input-search" class="border border-transparent border-gray-600 placeholder-gray-600 rounded-lg shadow-md bg-gray-900 py-1 pr-2 pl-10 block w-full"
                                   placeholder="Veranstaltung suchen ...">
                            <i class="icon-search pointer-events-none absolute inset-y-0 left-0 pl-4 pt-2 text-gray-600"></i>
                        </div>
                        <div id="search-results" class="absolute hidden w-full bg-gray-900 border border-gray-600 rounded-lg shadow-sm py-1 px-4 mt-1 z-10">
                            <ul id="search-results-list" class="text-sm">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-1/6 pr-6 xl:pr-0 flex items-center justify-end relative">
                    <img src="{{ if .tplCtx.User }}https://avatars.dicebear.com/v2/{{ .tplCtx.User.Gender }}/{{ index (strSplit .tplCtx.User.Id "@") 0 }}.svg{{ else }}/assets/images/unknown.png{{ end }}" class="md:hidden w-8 rounded-full border-2 border-gray-500 mr-3 cursor-pointer" onclick="{{ if .tplCtx.User }}toggleLogoutButton(){{ else }}toggleLoginButton(){{ end }}; event.stopPropagation()">
                    <img src="{{ if .tplCtx.User }}https://avatars.dicebear.com/v2/{{ .tplCtx.User.Gender }}/{{ index (strSplit .tplCtx.User.Id "@") 0 }}.svg{{ else }}/assets/images/unknown.png{{ end }}" class="hidden md:block w-8 rounded-full border-2 border-gray-500 mr-3 {{ if .tplCtx.User }}cursor-pointer{{end}}" onclick="{{ if .tplCtx.User }}toggleLogoutButton(){{ end }}; event.stopPropagation()">
                    {{ if .tplCtx.User }}
                        <div class="text-sm hidden lg:block flex flex-col items-center" onclick="toggleLogoutButton(); event.stopPropagation()">
                            <a class="font-semibold cursor-pointer">
                                <span>{{ index (strSplit .tplCtx.User.Id "@") 0 }}</span>
                            </a>
                        </div>
                        <form id="form-logout" action="/logout" method="post" class="m-0 hidden"></form>
                        <button class="hidden absolute border-2 border-kit hover:border-kit-dark bg-gray-800 font-semibold py-2 px-8 rounded-full text-sm" id="btn-logout" onclick="logout()">
                            Ausloggen
                        </button>

                    {{ else }}
                        <div class="hidden md:block text-sm">
                            <a href="/login" class="hover:underline">Anmelden</a>
                        </div>
                        <a class="hidden hidden absolute border-2 border-kit hover:border-kit-dark bg-gray-800 font-semibold py-2 px-8 rounded-full text-sm" id="btn-login" href="/login">
                            Anmelden
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>