<div id="header">
    <div class="flex absolute top-0 inset-x-0 h-16 z-100 pt-8 items-center">
        <div class="w-full lg:w-3/4 relative mx-auto px-6">
            <div class="flex items-center -mx-6 justify-between">
                <div class="hidden md:block w-1/4 lg:w-1/6 pl-0 md:pr-4 lg:pr-8">
                    <a href="/">
                        <div class="text-3xl font-semibold">
                            <span class="text-kit">KIT</span><span>Hub</span><span class="text-sm">v2</span>
                        </div>
                    </a>
                </div>
                <div class="md:hidden px-6">
                    <button class="border rounded text-xl p-2 bg-gray-400 hover:bg-gray-500" id="btn-toggle-sidebar">
                        <i class="cil-hamburger-menu"></i>
                    </button>
                </div>
                <div class="flex flex-grow w-1/2">
                    <div class="w-full">
                        <div class="relative">
                            <input class="border border-transparent border-gray-400 placeholder-gray-700 rounded-lg focus:shadow-md bg-white py-1 pr-2 pl-10 block w-full" placeholder="Veranstaltung suchen ...">
                            <i class="cil-search pointer-events-none absolute inset-y-0 left-0 pl-4 pt-2"></i>
                        </div>
                    </div>
                </div>
                <div class="w-1/6 pr-6 lg:pr-0 flex items-center justify-end">
                    <img src="/assets/images/unknown.png" class="w-8 rounded-full">
                    <div class="ml-3 text-sm hidden lg:block">
                        <a class="font-semibold cursor-pointer"><span>uedsf</span> <span><i class="cil-chevron-circle-down-alt ml-1"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>