<html class="font-sans">
<head>
    {{ include "layouts/head" }}
</head>
<body class="table bg-gray-800 text-gray-100 w-full h-full min-h-full p-0 lg:p-8">
    <p id="browser-notice" class="hidden mb-8 pt-12"><i class="icon-info-circled"></i> Dein Browser scheint zu alt zu sein. Bitte verwende Chrome, Edge oder Firefox in einer möglichst neuen Version. Internet Explorer wird explizit nicht mehr unterstützt.</p>
    <div class="h-full min-h-full w-full table pb-8">
        {{ include "layouts/header" }}
        <div class="w-full xl:w-3/4 mx-auto overflow-x-hidden md:overflow-auto">
            <div class="md:flex">
                {{ if not (in .tplCtx.Path "/login" "/signup") }}
                {{ include "layouts/sidebar" }}
                {{ end }}
                <div id="main-content" class="mt-32 h-full z-90 w-full md:block lg:w-5/6 px-6 md:pl-0 xl:px-0">
                    {{ include "layouts/alert" }}
                    {{ template "content" . }}
                </div>
            </div>
        </div>
        <div>
            <div class="hidden bg-gray-900 fixed bottom-0 left-0 m-6 p-4 rounded text-white text-sm shadow-xl" id="snackbar"></div>
        </div>
    </div>
    <footer class="text-xs text-gray-500 w-full text-center pb-4" style="margin-top: -2px">
        <a href="mailto:ferdinand@muetsch.io?subject=Frage%20zu%20KitSquid" title="Kontakt"><i class="icon-mail-alt"></i></a>
        <span> | </span>
        <a href="https://github.com/n1try/kitsquid/issues" target="_blank" title="Fehler melden"><i class="icon-bug"></i></a>
        <span> | </span>
        <a href="https://github.com/n1try/kitsquid" target="_blank" title="Source Code"><i class="icon-github-circled"></i></a>
        <span> | </span>
        <a href="/data-privacy">Datenschutz</a>
        <span> | </span>
        <a href="/imprint">Haftung &#8226; Impressum</a>
    </footer>
    <script type="text/javascript">
        function isIE() {
            var nav = navigator.userAgent.toLowerCase()
            return nav.indexOf('msie') !== -1 || nav.indexOf('trident') !== -1
        }

        window.onload = function() {
            if (isIE()) {
                document.getElementById('browser-notice').classList.remove('hidden')
            }
        }
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>