<div id="sidebar" class="relative mt-32 z-90 w-full md:w-1/4 lg:w-1/6 hidden md:block px-6 md:px-0 md:pl-4 xl:pl-0">
    <ul class="text-sm">
        <li class="py-2 pr-3 lg:pr-0 md:py-1">
            <a href="/">
                <button class="w-5/6 hover:bg-gray-900 py-2 md:py-1 px-4 md:px-2 lg:px-4 rounded-full text-left truncate {{ if or (eq .tplCtx.Path "/") (strPrefix .tplCtx.Path "/event") }} sidebar-item-active {{ end }}">
                    <i class="icon-graduation-cap md:hidden lg:inline-block"></i><span class="ml-3">Veranstaltungen</span>
                </button>
            </a>
        </li>
        {{ if .tplCtx.User }}
        <li class="py-2 pr-3 lg:pr-0 md:py-1">
            <a href="/bookmarks">
                <button class="w-5/6 hover:bg-gray-900 py-2 md:py-1 px-4 md:px-2 lg:px-4 rounded-full text-left truncate {{ if eq .tplCtx.Path "/bookmarks" }} sidebar-item-active {{ end }}">
                    <i class="icon-bookmark md:hidden lg:inline-block"></i><span class="ml-3">Favoriten</span>
                </button>
            </a>
        </li>
        {{ end }}
        {{ if .tplCtx.User }}
        <li class="py-2 pr-3 lg:pr-0 md:py-1">
            <a href="/account">
                <button class="w-5/6 hover:bg-gray-900 py-2 md:py-1 px-4 md:px-2 lg:px-4 rounded-full text-left truncate {{ if eq .tplCtx.Path "/account" }} sidebar-item-active {{ end }}">
                    <i class="icon-user-circle-o md:hidden lg:inline-block"></i><span class="ml-3">Account</span>
                </button>
            </a>
        </li>
        {{ end }}
        {{ if .tplCtx.User }}
        {{ if .tplCtx.User.IsAdmin }}
        <li class="py-2 pr-3 lg:pr-0 md:py-1">
            <a href="/admin">
                <button class="w-5/6 hover:bg-gray-900 py-2 md:py-1 px-4 md:px-2 lg:px-4 rounded-full text-left truncate {{ if eq .tplCtx.Path "/admin" }} sidebar-item-active {{ end }}">
                    <i class="icon-cog-alt md:hidden lg:inline-block"></i><span class="ml-3">Admin</span>
                </button>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <button class="md:hidden text-4xl absolute top-0 right-0 mt-2 mr-8" id="btn-close-sidebar" onclick="toggleSidebar()">
        <i class="icon-cancel-circled2"></i>
    </button>
</div>